
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
node_modules/

.cache/
.idea/
.nyc_output/
.parcel-cache/
.verdaccio_storage/
.vscode/*
!.vscode/extensions.json
coverage/
dist/
lib/
logs/
node_modules/
parcel-bundle-reports/
tmp
.parcel-cache/
dist/

/target/

.DS_Store
npm-debug.log*
package-lock.json
sourcemap-info.json
yarn-debug.log*
yarn-error.log*
*.log
*.min.js
